.title {
  @apply my-10;
  font-size: 30px;
  color: var(--primary-color);
}

.btn {
  @apply text-white border-0 rounded px-10 py-5;
  &:focus {
    @apply outline-none;
  }
}

.primary {
  composes: btn;
  @apply bg-blue-600;
  &:hover {
    @apply bg-blue-500;
  }
}
